.pageHeader {
  background-color: #f7f7f7;
  border-bottom: 2px solid #eaeaea;
  padding: 10px 30px;
  width: fit-content;
  margin: auto;
  color: #f00;
  border-radius: 25px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

input:not([type="file"]):not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #1f1f1f;
  outline: none;
  width: 100%;
}

form div {
  margin-bottom: 10px;
}
button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid #1f1f1f;
}
button.sm {
  padding: 5px 10px;
  font-size: 14px;
}
button.success {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: #fff;
}
button.success:hover {
  background-color: #45a049;
}

button.danger {
  background-color: #f44336;
  border: 1px solid #f44336;
  color: #fff;
}
button.danger:hover {
  background-color: #e53935;
}

button.edit {
  background-color: #2196f3;
  border: 1px solid #2196f3;
  color: #fff;
}
button.edit:hover {
  background-color: #1976d2;
}
