* {
  box-sizing: border-box;
  font-family: "Alexandria" !important;
}
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
  font-family: "Alexandria" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
